body, html {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 50px;
    grid-template-columns: 12% auto;
    grid-template-areas: "sidebar right" "footer footer";
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    float: right;
}

ul li {
    display: inline;

}

#logo {
    padding: 15px;
    margin-left: 15px;
    background-color: #f3f1c7;
    color: #298383;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    /*grid-column-start: logo-start;*/
    /*grid-column-end: span nav-end;*/
}

ul li a {
    color: #fff;
    padding: 15px;
}

header {
    background-color: #41c7c7;
    display: grid;
    /*grid-template-columns:20% 80% ;*/
    /*grid-template-columns: 20% auto;*/
    /*grid-template-columns:repeat(2,auto) ;*/
    grid-template-columns: [logo-start] fit-content(20%) [ nav-start ] auto [ nav-end ];
}

section#hero {
    background-color: #36adad;
    padding: 2em;
    border-top: 5px solid #2ea0a0;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#content h1 {
    text-transform: uppercase;
    color: #fffbc5
}

#content p {
    color: #fff;
}

img {
    max-width: 100%;
    background-size: cover;
    margin: 0 auto;
}

#mountain {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.sidebar {
    grid-area: sidebar;
    background: #1c9090;
    color: #fff;
    padding: 1em;
}

.main {
    grid-area: right;
    grid-template-rows: 51px fit-content(30%) 40%;
    /*grid-template-columns: 200px 200px;*/
    /*justify-content: center;*/
    /*justify-content: space-around;*/
    /*justify-content: space-between;*/
    /*justify-content: space-evenly;*/
    display: grid;
    /*align-content: end;*/
    /*align-content: space-between;*/
}

footer {
    grid-area: footer;
    background-color: lightgray;
}

#features {
    display: grid;
    grid-template-columns: repeat(5, auto);
    text-align: center;
    /*justify-items: center;*/
    /*grid-template-columns: repeat(2,auto);*/
    /*grid-template-rows: repeat(2,auto);*/
    /*grid-column-gap: 10px;*/
    /*grid-row-gap: 10px;*/
    /*grid-gap:10px 30px ;*/
    /*align-items: center;*/
}

#features i {
    font-size: 2em;
}

ul#featres {
    margin: 0;
    padding: 0;
}

ul#features li {
    background-color: lightgray;
    padding: 1em;
    align-self:start ;
    /*width: 10%;*/
}

ul#features li:nth-child(1) {
    background-color: #e7e6e8 /*justify-self: end;*/
}

ul#features li:nth-child(2) {
    background-color: #d4d2d4; /*justify-self: end;*/
    align-self: center;
}

ul#features li:nth-child(3) {
    background-color: #cbcacc /*justify-self: end;*/
}

ul#features li:nth-child(4) {
    align-self: center;
    background-color: #e7e6e8 /*justify-self: end;*/
}

ul#features li:nth-child(5) {
    background-color: #d4d2d4 /*justify-self: end;*/
}

ul#features p {
    color: #4c4c4c;
}

section#info{
    background-color: #f2f2f2;
    padding: 2em;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    align-items: space-around;
}

#mountain-vector{
    width: 200px;
    align-self: center;
}
